<div class="text-center">
  <%= render 'relationships/following_count', { user: user } %>
  <p class="follow-count">フォロー中</p>
</div>
💛 
<div class="text-center">
  <%= render 'relationships/follower_count', { user: user } %>
  <p class="follow-count">フォロワー</p>
</div>