<% content_for(:title, t('.title')) %>

<div class="container">
  <div class="row justify-content-center">
    <div class="diary-form col-12 col-lg-7">
      
      <h3 class="result text-center"><%= current_user.nickname %> edit a diary</h3>
      
      <div class="row justify-content-center">
        <div class="register col-10">
          <%= render 'form', { diary: @diary, url: user_diary_path } %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box1">
    <span class="box-title">絵文字の入力方法</span>
    <p><strong>Mac</strong> control(^) + command(⌘) + スペース<br>
    <strong>Windows</strong> windows(<i class="fab fa-windows"></i>) + .(ピリオド)</p>
</div>
