<% content_for(:title, 'edit diary') %>


<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <%= render 'form', { diary: @diary, url: user_diary_path } %>
    </div>
  </div>
</div>