<table class="table table-sm col-12">
  <thead class="thead-light">
    <tr>
      <th class="text-center">nickname</th>
      <th class="text-center">name</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
    <% @user_id = bookmark.user_id %>
    <% user = User.find(@user_id) %>
    <tr>
      <td class="text-center"><%= user.nickname %></td>
      <td class="text-center"><%= user.name %></td>
      <td class="text-center"><% if logged_in? && current_user != user %>
        <% if current_user.following?(user) %>
          <%= render 'relationships/unfollow_button', user: user %>
        <% else %>
          <%= render 'relationships/follow_button', user: user %>
        <% end %>
      <% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>