<h1><%= @user.nickname %>'s diary</h1>

<%= month_calendar events: @diaries do |date, diaries| %>
  <%= date.day %>

  <% diaries.each do |diary| %>
    <div>
      <%= link_to diary.feeling, user_diary_path(@user, diary) %>
    </div>
  <% end %>
<% end %>
