<% content_for(:title, 'new diary') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="diary-form col-12 col-lg-7">
      
      <h3 class="result text-center"><%= current_user.nickname %> write a diary</h3>
      
      <div class="row justify-content-center">
        <div class="register col-10">
          <%= render 'form', { diary: @diary, url: user_diaries_path } %>
        </div>
      </div>
    </div>
  </div>
</div>
