<div class="container">
    <div class="row justify-content-center">
      <div class="col-11 col-md-7 text-center line-modal">
        <div class="row justify-content-end line-close">
        <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
          <span aria-hidden="true">&times; close</span>
        </button>
        </div>
        <h3 class="line-title">LINEで公式アカウントを友達に追加</h3>
        <img src="<%= asset_pack_path 'media/images/qrcode.png' %>" class="qr-image">
        <p class="line-body">
        毎日夜9:00にリマインドを受け取ることができます。<br>
        日記のつけ忘れを防ぎましょう！
        </p>
      </div>
    </div>
  </div>
</div>