<% content_for(:title) %>

<div class="container">
  <div class="row justify-content-center">
    <div class="friend-calendar  col-12 col-md-8">
      <%= week_calendar events: @diaries do |date, diaries| %>
        <%= date %>
      
        <% diaries.shuffle.first(7).each do |diary| %>
          <% @user = diary.user %>
          <div class="feeling text-center" %>
            <%= link_to diary.feeling, user_diaries_path(@user), id: "emoji-feeling-top-#{diary.score}", class: "feeling-link" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>