<% content_for(:title, 'User search') %>

<p id="notice"><%= notice %></p>

<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
    <h1>search</h1>
      <%= search_form_for @q, url: search_path do |f| %>
        <%= f.search_field :name_cont, placeholder: 'user name', required: true %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
