<footer id='footer' class='footer-bottom fixed-bottom' style="background-color: #fbe6de;">
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-12'>
        <div class='copyright text-right'>
          <p><%= link_to "利用規約", "#", class: "copylight-link" %> | <%= link_to "プライバシーポリシー", "#", class: "copylight-link" %> | © 2021 emory</p>
        </div>
      </div>
    </div>
  </div>
</footer>