<% if logged_in? && !current_page?(new_user_diary_path) %>
  <%= link_to "write diary", new_user_diary_path(current_user), class: "btn-circle-border" %>
<% end %>

<footer id='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-12 text-right'>
      <p class="copyright"><p><%= link_to "利用規約", "#", class: "copylight-link" %> | <%= link_to "プライバシーポリシー", "#", class: "copylight-link" %> | © 2021 emory</p></p>
      </div>
    </div>
  </div>
</footer>
