<footer class="footer">
  <div class="container text-right">
    <p class="copyright"><p><%= link_to "利用規約", "#", class: "copylight-link" %> | <%= link_to "プライバシーポリシー", "#", class: "copylight-link" %> | © 2021 emory</p></p>
  </div>
</footer>
