<footer id='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-12 text-right'>
      <p class="copyright"><p><%= link_to "利用規約", "#", class: "copylight-link" %> | <%= link_to "プライバシーポリシー", "#", class: "copylight-link" %> | © 2021 emory</p></p>
      </div>
    </div>
  </div>
</footer>
