<header>
    <h1>
      <%= link_to 'Emory💐', root_path %>
    </h1>
    <nav>
        <ul>
            <li><a href="#">ドーナツ🍩</a></li>
            <li><a href="#">ケーキ🍰</a></li>
        </ul>
    </nav>
</header>