@import 'home';
@import 'simple_calendar';
@import 'diaries.scss';
@import 'users.scss';
@import 'profiles.scss';
@import 'header_footer.scss';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.blue {
  --color1: #ABBDDA;
  --color2: #399ECC;
  --color3: #7097C3;
  --color4: #444f7c;
  --color5: #E0ECFF;
}
