/* ラジオボタンの○を消す */
input[type="radio"] {
  display: none;
}

/* 顔の絵文字の周りに隙間をあける */
label.face {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
 }

/* 未選択の場合の絵文字 */
input[type="radio"] + label.face {
  width: 30px;
  height: 30px;
  transition: all 0.2s;
}

/* 選択済みの場合の絵文字、背景色がつく */
input[type="radio"]:checked + label.face {
  transform: scale(2.0, 2.0);
}

/* 詳細画面の日付 */
.show-date {
  letter-spacing: 0.15em;
  color: #c76e54;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* 絵文字日記の本文 */
.rounded {
  letter-spacing: 0.5em;
  background-color: #f5cdbd;
  padding: 10px;
  margin: 10px;
}

/* 日記詳細の枠 */
.diary-show {
  margin-top: 80px;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  background-color: whitesmoke;
}

/* サブミットや戻るなどの普通のボタン */
.btn.btn-normal {
  position: relative;
  width: 160px;
	padding: 10px;
  margin: 5px;
	text-align: center;
	text-decoration: none;
	color: #f5ece4;
	background: #bf9288;
  letter-spacing: 0.20em;
  border-radius: 10px;
  border: none;
  outline: none;
}

.btn.btn-normal:hover {
	 opacity:0.8;
	 cursor: pointer;
	 text-decoration: none;
   color: #f5ece4;
}

.btn.btn-normal:focus{
  box-shadow: none;
  outline: none;
}

/* 日記詳細から一覧に戻るボタン */
.btn-show-back {
  position: relative;
  width: auto;
	padding: 10px 30px 10px 30px;
  margin: 5px;
	text-align: center;
	text-decoration: none;
	color: #f5ece4;
	background: #bf9288;
  letter-spacing: 0.10em;
  border-radius: 10px;
  border: none;
  outline: none;
}

.btn-show-back:hover {
  opacity:0.8;
  cursor: pointer;
  text-decoration: none;
  color: #f5ece4;
}

.btn-show-back:focus{
  box-shadow: none;
  outline: none;
}

/* いいねボタン */
.like-btn {
  width: 50px;
  height: 65px;
  font-size: 40px;
  color: #e54747; 
  margin-left: 20px;
}
 
.like-btn:hover {
  text-decoration: none;
}

/* いいね解除ボタン */
.unlike-btn {
  width: 50px;
  height: 65px;
  font-size: 40px;
  color: #e54747;
  margin-left: 20px;
}

.unlike-btn:hover {
  text-decoration: none;
}

/* いいね数 */
.count {
  color: #e54747;
}

/* いいね数を部分にカーソル当てた時 */
.count:hover {
  color: #e54747;
}

.calendar {
  margin-top: 50px;
  margin-bottom: 150px;
}

/* カレンダーのタイトル */
.calendar-name {
  letter-spacing: 0.20em;
  color: #c76e54;
}

/* 友達の日記一覧ページの友達の名前 */
h4.calendar-name {
  margin-top: 50px;
}

/* 日記一覧のタイトルになってる名前の編集ページにいくリンク */
.calendar-name-link {
  color: #c76e54;
  letter-spacing: 0.20em;
}

.calendar-name-link:hover {
  color: #c76e54;
}

/* 友達の日記一覧ページの友達の名前のリンク */
.calendar-name-link {
  color: #c76e54;
  letter-spacing: 0.20em;
}

.calendar-name-link:hover {
  color: #c76e54;
}

/* 一覧画面の感情の絵文字 */
.feeling {
	position: relative;
	text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: #c76e54;
}

.feeling::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 0;
	height: 1px;
	background: #c76e54;
	transition: all 0.3s ease 0s;
}

.feeling:hover {
  cursor: pointer;
  
}

.feeling:hover::after {
	width: 100%;
}

a.feeling-link:hover {
  text-decoration: none;
}

/* 日記の枠の色 */
.table > thead > tr > th{
  border:1px solid #f5cdbd;
}

/* 感情絵文字のタブ */
.area {
  width: auto;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}
 
/* ６分割するタブの設定 */
.tab_class {
  width: calc(100%/6);
  height: 50px;
  background-color: #f5ece4;
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}

input[name="tab_name"] {
  display: none;
}

/* タブをチェックしている部分のレイアウト */
input:checked + .tab_class {
  background-color: #f5cdbd;
  color: #c76e54;
}
 
/* タブのレイアウト */
.content_class {
  display: none;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
 
input:checked + .tab_class + .content_class {
  display: block;
}

.form-group {
  padding-bottom: 2px;
}

/* フォロー人数の文字 */
.follow-count {
  font-size: 12px;
  color: gray;
}

/* 友達の日記一覧の全体 */
.friend-calendar {
  margin-top: 80px;
  margin-bottom: 150px;
}

/* 友達一覧の検索ボタン */
.btn.btn-search {
  position: relative;
  width: auto;
	padding: 5px;
  margin: 5px;
	text-align: center;
	text-decoration: none;
	color: #f5ece4;
	background: #bf9288;
  letter-spacing: 0.20em;
  border-radius: 10px;
  border: none;
  outline: none;
}

.btn.btn-search:hover {
  opacity:0.8;
  cursor: pointer;
  text-decoration: none;
  color: #f5ece4;
}

.btn.btn-search:focus{
  box-shadow: none;
}

/* 新規登録画面のテキストフォーム */
.diary_body input[type="text"]{
  border: 1px solid #f5ece4;
  padding: 5px 8px;
  border-radius: 20px;
  height: 2.0em;
  overflow: hidden;
  background: #f5ece4;
  color: gray;
  transition:ease-out 0.5s;
}

/* 新規登録画面のテキストフォーム選択中 */
.diary_body input[type="text"]:focus {
  outline: none;
  background: #f5ece4;
  box-shadow: none;
  text-shadow: none;
  outline: 0;
  border-color: #c76e54;
  height:50px;
}

/* テキストフォームのプレースホルダー */
.diary_body input[type="text"]::placeholder { 
  opacity: 0.3;
}

.diary_body input[type="text"]:focus::placeholder {
  color: transparent;
  transition: .2s;
}

.box1 {
  position: fixed;
  bottom: 50px;
  right: 35px;
  width: 300px;
  height: 60px;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #c76e54;
  opacity: 0.8;
  border-radius: 8px;
  font-size: 13px;
  background: #FFF;
}
.box1 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 17px;
  background: #FFF;
  color: #c76e54;
  font-weight: bold;
}
.box1 p {
  margin: 0; 
  padding: 0;
  color: gray;
}

@media screen and (max-width:760px){
  .box1 {display:none}
  }