/* ラジオボタンの○を消す */
input[type="radio"] {
  display: none;
}

/* 顔の絵文字の周りに隙間をあける */
label.face {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
 }

/* 未選択の場合の絵文字 */
input[type="radio"] + label.face {
  width: 30px;
  height: 30px;
  transition: all 0.2s;
}

/* 選択済みの場合の絵文字、背景色がつく */
input[type="radio"]:checked + label.face {
  transform: scale(2.0, 2.0);
}

/* 詳細画面の日付 */
.show-date {
  letter-spacing: 0.15em;
  color: var(--color2);
  margin-top: 50px;
  margin-bottom: 50px;
}

/* 詳細画面の日付 */
.show-date-friend {
  letter-spacing: 0.15em;
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

/* 絵文字日記の本文 */
.rounded {
  letter-spacing: 0.5em;
  background-color: var(--color3);
  padding: 10px;
  margin: 10px;
}

/* 友達の日記一覧の表示部分 */
.rounded-friend {
  letter-spacing: 0.5em;
  background-color: var(--color3);
  padding: 10px;
  margin: 10px;
  text-align: center;
}

/* 日記詳細の枠 */
.diary-show {
  margin-top: 30px;
  margin-bottom: 150px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  background-color: whitesmoke;
}

/* 友達の日記一覧の日記表示部分 */
.diary-show-friend {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  background-color: whitesmoke;
}

/* サブミットや戻るなどの普通のボタン */
.btn.btn-normal {
  position: relative;
  width: 160px;
	padding: 10px;
  margin: 5px;
	text-align: center;
	text-decoration: none;
	color: var(--color5);
	background: var(--color4);
  letter-spacing: 0.20em;
  border-radius: 10px;
  border: none;
  outline: none;
}

.btn.btn-normal:hover {
	 opacity:0.8;
	 cursor: pointer;
	 text-decoration: none;
   color: var(--color5);
}

.btn.btn-normal:focus{
  box-shadow: none;
  outline: none;
}

/* 日記詳細から一覧に戻るボタン */
.btn-show-back {
  position: relative;
  width: auto;
	padding: 10px 30px 10px 30px;
  margin: 5px;
	text-align: center;
	text-decoration: none;
	color: var(--color5);
	background: var(--color4);
  letter-spacing: 0.10em;
  border-radius: 10px;
  border: none;
  outline: none;
}

.btn-show-back:hover {
  opacity:0.8;
  cursor: pointer;
  text-decoration: none;
  color: var(--color5);
}

.btn-show-back:focus{
  box-shadow: none;
  outline: none;
}

/* いいねボタン */
.like-btn {
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #e54747;
  margin-left: 20px;
}

.like-btn:hover {
  text-decoration: none;
}

/* いいね解除ボタン */
.unlike-btn {
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #e54747;
  margin-left: 20px;
}

.unlike-btn:hover {
  text-decoration: none;
}

.calendar {
  margin-top: 20px;
  margin-bottom: 150px;
}

/* カレンダーのタイトル */
.calendar-name {
  letter-spacing: 0.20em;
  color: var(--color2);
}

/* 友達の日記一覧ページの友達の名前 */
h4.calendar-name {
  margin-top: 50px;
}

h4.friend-diary-name {
  margin-top: 10px;
}

/* 日記一覧のタイトルになってる名前の編集ページにいくリンク */
.calendar-name-link {
  color: var(--color2);
  letter-spacing: 0.20em;
}

.calendar-name-link:hover {
  color: var(--color2);
}

/* 友達の日記一覧ページの友達の名前のリンク */
.calendar-name-link {
  color: var(--color2);
  letter-spacing: 0.20em;
}

.calendar-name-link:hover {
  color: var(--color2);
}

/* 一覧画面の感情の絵文字 */
.feeling {
	position: relative;
	text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: var(--color2);
}

.feeling:hover {
  cursor: pointer;
}

.feeling:hover::after {
	width: 100%;
}

a.feeling-link:hover {
  text-decoration: none;
}

/* 日記の枠の色 */
.table > thead > tr > th{
  border:1px solid var(--color3);
}

/* 感情絵文字のタブ */
.area {
  width: auto;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}

/* ６分割するタブの設定 */
.tab_class {
  width: calc(100%/6);
  height: 50px;
  background-color: var(--color5);
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}

input[name="tab_name"] {
  display: none;
}

/* タブをチェックしている部分のレイアウト */
input:checked + .tab_class {
  background-color: var(--color3);
  color: var(--color2);
}

/* タブのレイアウト */
.content_class {
  display: none;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

input:checked + .tab_class + .content_class {
  display: block;
}

.form-group {
  padding-bottom: 2px;
}

/* フォロー人数の文字 */
.follow-count {
  font-size: 12px;
  color: gray;
}

/* 友達の日記一覧の全体 */
.friend-calendar {
  margin-top: 60px;
  margin-bottom: 150px;
}

/* 友達一覧の検索ボタン */
.btn.btn-search {
  position: relative;
  width: auto;
	padding: 5px;
  margin: 5px;
	text-align: center;
	text-decoration: none;
	color: var(--color5);
	background: var(--color4);
  letter-spacing: 0.20em;
  border-radius: 10px;
  border: none;
  outline: none;
}

.btn.btn-search:hover {
  opacity:0.8;
  cursor: pointer;
  text-decoration: none;
  color: var(--color5);
}

.btn.btn-search:focus{
  box-shadow: none;
}

/* 新規登録画面のテキストフォーム */
.diary_body input[type="text"]{
  border: 1px solid var(--color5);
  padding: 5px 8px;
  border-radius: 20px;
  height: 2.0em;
  overflow: hidden;
  background: var(--color5);
  color: gray;
  transition:ease-out 0.5s;
}

/* 新規登録画面のテキストフォーム選択中 */
.diary_body input[type="text"]:focus {
  outline: none;
  background: var(--color5);
  box-shadow: none;
  text-shadow: none;
  outline: 0;
  border-color: var(--color2);
  height:50px;
}

/* テキストフォームのプレースホルダー */
.diary_body input[type="text"]::placeholder {
  opacity: 0.3;
}

.diary_body input[type="text"]:focus::placeholder {
  color: transparent;
  transition: .2s;
}

.box1 {
  position: fixed;
  bottom: 50px;
  right: 35px;
  width: 300px;
  height: 60px;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px var(--color2);
  opacity: 0.8;
  border-radius: 8px;
  font-size: 13px;
  background: #FFF;
}
.box1 .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 17px;
  background: #FFF;
  color: var(--color2);
  font-weight: bold;
}
.box1 p {
  margin: 0;
  padding: 0;
  color: gray;
}

@media screen and (max-width:760px){
  .box1 {display:none}
}

#emoji-feeling-10 {
  background: #8F85AF;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 10px 20px 30px 40px;
  transition: 0.3s;
}

#emoji-feeling-top-10 {
  background: #8F85AF;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 10px 20px 30px 40px;
  transition: 0.3s;
  line-height: 40px;
}

#emoji-feeling-10:hover {
	background: #8F85AF;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-top-10:hover {
	background: #8F85AF;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-20 {
  background: #8F85AF;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 20px 30px 40px 10px;
  transition: 0.3s;
}

#emoji-feeling-top-20 {
  background: #8F85AF;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 20px 30px 40px 10px;
  transition: 0.3s;
  line-height: 40px;
}

#emoji-feeling-20:hover {
	background: #8F85AF;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-top-20:hover {
	background: #8F85AF;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-30 {
  background: #89BCD6;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 30px 40px 10px 20px;
  transition: 0.3s;
}

#emoji-feeling-top-30 {
  background: #89BCD6;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 30px 40px 10px 20px;
  transition: 0.3s;
  line-height: 40px;
}

#emoji-feeling-30:hover {
  background: #89BCD6;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-top-30:hover {
  background: #89BCD6;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-40 {
  background: #89BCD6;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 40px 10px 20px 30px;
  transition: 0.3s;
}

#emoji-feeling-top-40 {
  background: #89BCD6;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 40px 10px 20px 30px;
  transition: 0.3s;
  line-height: 40px;
}

#emoji-feeling-40:hover {
  background: #89BCD6;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-top-40:hover {
  background: #89BCD6;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-50 {
  background: #B9C998;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 10px 30px 20px 40px;
  transition: 0.3s;
}

#emoji-feeling-top-50 {
  background: #B9C998;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 10px 30px 20px 40px;
  transition: 0.3s;
  line-height: 40px;
}

#emoji-feeling-50:hover {
  background: #B9C998;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-top-50:hover {
  background: #B9C998;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-60 {
  background: #B9C998;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 10px 40px 30px 20px;
  transition: 0.3s;
}

#emoji-feeling-top-60 {
  background: #B9C998;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 10px 40px 30px 20px;
  transition: 0.3s;
  line-height: 40px;
}

#emoji-feeling-60:hover {
  background: #B9C998;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-top-60:hover {
  background: #B9C998;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-70 {
  background: #DED799;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 20px 10px 40px 30px;
  transition: 0.3s;
}

#emoji-feeling-top-70 {
  background: #DED799;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 20px 10px 40px 30px;
  transition: 0.3s;
  line-height: 40px;
}

#emoji-feeling-70:hover {
  background: #DED799;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-top-70:hover {
  background: #DED799;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-80 {
  background: #DED799;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 20px 40px 10px 30px;
  transition: 0.3s;
}

#emoji-feeling-top-80 {
  background: #DED799;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 20px 40px 10px 30px;
  transition: 0.3s;
  line-height: 40px;
}

#emoji-feeling-80:hover {
  background: #DED799;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-top-80:hover {
  background: #DED799;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-90 {
  background: #D49A9C;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 30px 10px 20px 40px;
  transition: 0.3s;
}

#emoji-feeling-top-90 {
  background: #D49A9C;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 30px 10px 20px 40px;
  transition: 0.3s;
  line-height: 40px;
}

#emoji-feeling-90:hover {
  background: #D49A9C;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-top-90:hover {
  background: #D49A9C;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-100 {
  background: #D49A9C;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 20px 40px 30px 10px;
  transition: 0.3s;
}

#emoji-feeling-top-100 {
  background: #D49A9C;
  width: 100%;
  margin: auto;
  padding: 6px 13px 6px 13px;
  border-radius: 20px 40px 30px 10px;
  transition: 0.3s;
  line-height: 40px;
}

#emoji-feeling-100:hover {
  background: #D49A9C;
  border-radius: 20px;
  transition: 0.3s;
}

#emoji-feeling-top-100:hover {
  background: #D49A9C;
  border-radius: 20px;
  transition: 0.3s;
}

@media screen and (max-width:600px){
  #emoji-feeling-100 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-top-100 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-90 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-top-90 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-80 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-top-80 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-70 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-top-70 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-top-70 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-60 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-top-60 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-50 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-top-50 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-40 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-top-40 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-30 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-top-30 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-20 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-top-20 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-10 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }

  #emoji-feeling-top-10 {
    width: 100%;
    margin: auto;
    padding: 6px 6px 6px 7px;
  }
}

/* twitterシェアボタン */
.btn-social-circle {
  position:fixed;
  bottom: 50px;
  right: 30px;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFF;
  width: 80px;
  height: 80px;
  line-height: 30px;
  padding: 15px;
  font-size: 40px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  transition: .2s;
}

@media screen and (min-width:750px) {
  .btn-social-circle {
    right: 170px;
  }
}

.btn-social-circle .fa {
  line-height: 30px;
}
.btn-social-circle:hover {
  box-shadow: none;
}

.btn-social-circle--twitter {
  background: #1da1f3;
  border: solid 5px #1da1f3;
}

.btn-social-circle--twitter {
  animation: float_2979 3s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes float_2979 {
  0% { transform: translateY(0) }
  33.33333% { transform: translateY(-10px) }
  66.66667% { transform: translateY(-20px) }
  100% { transform: translateY(0) }
}

all-diaries {
  padding: 5px;
  float: left;
}


// 友達の日記一覧のいいねボタンと日付を横並びにする
.box2{
  float: left;
}

.boxContainer{
  overflow: hidden;
}
