.top-wrapper {
  position: relative;
  background-position: center;
}

/* フラッシュメッセージが見えるように */
body { 
  padding-top: 60px; 
}

/* 画像をレスポンシブ対応させる */
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
