.top-wrapper {
  position: relative;
  background-position: center;
}

/* フラッシュメッセージが見えるように */
body { 
  padding-top: 65px; 
}

/* 画像をレスポンシブ対応させる */
.img-responsive {
  display: flex;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.qr-image {
  display: flex;
  height: 100px;
  width: 100px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width:600px){
  /*600px以上で適用する内容*/
  .calendar {
    padding: 10px 40px;
  }

  .resulting {
    padding: 40px;
  }

  h3.result {
    font-size: 35px;
  }

  tr.edit-form {
    font-size: 17px;
  }

  h4.show-date {
    font-size: 35px;
  }

  h3.calendar-name {
    font-size: 35px;
  }

  .no-follow {
    margin-right: 80px;
    margin-left: 80px;
  }
}

/* ページネーションの選択時の青枠を消す */
.pagination .page-link:focus{
  box-shadow: none;
}

/* ページネーションのレイアウト */
.pagination>.page-item>.page-link, .pagination>.page-item>span {
  border: 0;
  border-radius: 30px;
  transition: all .3s;
  padding: 0 11px;
  margin: 0 3px;
  min-width: 30px;
  height: 30px;
  line-height: 30px;
  color: gray;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  background: 0 0;
  text-align: center;
}

.pagination>.page-item.active>a,
.pagination>.page-item.active>a:focus,
.pagination>.page-item.active>a:hover,
.pagination>.page-item.active>span,
.pagination>.page-item.active>span:focus,
.pagination>.page-item.active>span:hover {
  background-color: var(--color4);
  border-color: var(--color4);
}

/* 確認ダイアログ　*/
.modal-dialog {
  .modal-header {
    border-bottom: none;
    text-align: center;
    padding: 5px;
    background-color: var(--color4);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
 
  .modal-title,
  button.close {
    display: none;
  }
 
  .modal-body {
    text-align: center;
    font-size: 15px;
    padding: 30px 0 5px;
  }
 
  .fa-exclamation-circle:before {
      color: var(--color4);
      font-size: 40px;
      padding: 5px;
      position: relative;
      top: 5px;
  }
 
  .modal-footer {
    border-top: none;
  }

  .btn.btn-danger:hover, .btn.btn-danger:focus, 
  .btn.btn-danger:active, .btn.btn-danger:active:focus, .btn.btn-danger:active:hover, .btn.btn-danger:active.focus,
  .btn.btn-danger.active, .btn.btn-danger.active:focus, .btn.btn-danger.active:hover, .btn.btn-danger.active.focus,
  .open > .dropdown-toggle.btn.btn-danger, 
  .open > .dropdown-toggle.btn.btn-danger:hover,
  .open > .dropdown-toggle.btn.btn-danger:focus, 
  .open > .dropdown-toggle.btn.btn-danger.focus,
  .btn.btn-danger.disabled:hover, .btn.btn-danger[disabled]:hover, fieldset[disabled] .btn.btn-danger:hover,
  .btn.btn-danger.disabled:focus, .btn.btn-danger[disabled]:focus, fieldset[disabled] .btn.btn-danger:focus,
  .btn.btn-danger.disabled.focus, .btn.btn-danger[disabled].focus, fieldset[disabled] .btn.btn-danger.focus {
      background: var(--color4); //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
      color: var(--color4); //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
  }

  .btn.btn-danger.outline {
    border: 3px solid var(--color4); //アウトラインのみのボタンの線の色
    color: var(--color4); //アウトラインのみのボタンのテキストの色
  }

  .btn.commit {
    position: relative;
    width: auto;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    color: var(--color5);
    background: var(--color4);
    border-radius: 10px;
    border: none;
    outline: none;
  }
  
  .btn.commit:hover {
    opacity:0.8;
    cursor: pointer;
    text-decoration: none;
    color: var(--color5);
  }
  
  .btn.commit:focus {
    box-shadow: none;
    color: var(--color5);
  }

  .btn.cancel {
    position: relative;
    width: auto;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    color: var(--color4);
    background-color: var(--color5);
    border-radius: 10px;
    border: none;
    outline: none;
  }
  
  .btn.canel:hover {
    opacity:0.8;
    cursor: pointer;
    text-decoration: none;
    color: var(--color4);
  }
  
  .btn.cancel:focus {
    box-shadow: none;
    color: var(--color4);
  }
}

/* ログインさせるためのフラッシュメッセージ */
.alert.alert-danger {
  background-color: var(--color5);
  text-align: center;
  border: none;
  color: var(--color4);
  letter-spacing: 0.10em;
}

/* 退会後のフラッシュメッセージ */
.alert.alert-success {
  background-color: var(--color5);
  text-align: center;
  border: none;
  color: var(--color4);
  letter-spacing: 0.10em;
}

/* パスワードリセットのemail */
.reset_password {
  font-size: 20px;
  color: var(--color3);
  border-bottom: double 6px var(--color2);
}

/* forgot passwordの説明文 */
.description {
  color: gray;
  font-size: 13px;
}

/* お問い合わせフォームのtextareaを固定する */
textarea {
  resize: none !important;
  border: 1px solid var(--color5) !important;
  padding: 5px 8px !important;
  border-radius: 20px !important;
  overflow: hidden !important;
  background: var(--color5) !important;
  color: gray !important;
}

/* お問い合わせフォームのtextarea選択中 */
textarea:focus {
  outline: none !important;
  background: var(--color5) !important;
  box-shadow: none !important;
  text-shadow: none !important;
  outline: 0 !important;
  border-color: var(--color2) !important;
}

/* お問い合わせフォームのプレースホルダー */
textarea::placeholder { 
  color: lightgray !important;
}

textarea:focus::placeholder {
  color: transparent !important;
  transition: .2s !important;
}

.document {
  margin-top: 100px;
  margin-bottom: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  background-color: whitesmoke;

  h1 {
    color: var(--color2);
    font-weight: bold;
  }

  h3 {
    color: var(--color2);
  }
}

/* ログインボタン等 */
table.login-btn {
  margin:auto;
  margin-bottom: 50px;
}

@media screen and (min-width:992px) {
  .image-horizontal-scroll-smart{
    display: none;
  }

  .image-horizontal-scroll{
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-left: 80px;
    margin-right: 50px;
  }

  .box{
	  display: inline-block;
	  width: 75% !important;
  }

  table.login-btn2 {
    margin: auto;
    margin-bottom: 100px;
  }
  
  .home {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/* トップの画像一つ一つのレイアウト */
.box{
	display: inline-block;
	width: 100%;
	margin: 10 15 10 0px;
}

/* 画像の横の点を消す */
ul {
  list-style: none;
  padding-left: 0px !important;
}

.home {
  padding-top: 10px;
  padding-bottom: 50px;
}

@media screen and (max-width:991px){
  table.login-btn2 {
    padding: auto;
    position:fixed;
    bottom: 40px;
  }

  .box{
	  display: inline-block;
	  width: 90% !important;
  }

  .top-image {
    height: 300px;
    width: 300px;
  }
}

.top-calendar {
  color: gray;
}
