.top-wrapper {
  position: relative;
  background-position: center;
}

/* フラッシュメッセージが見えるように */
body { 
  padding-top: 60px; 
}

/* 画像をレスポンシブ対応させる */
.img-responsive {
  display: flex;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width:600px){
  /*600px以上で適用する内容*/
  .calendar {
    padding: 40px;
  }

  .resulting {
    padding: 40px;
  }

  h3.result {
    font-size: 35px;
  }

  tr.edit-form {
    font-size: 17px;
  }

  h4.show-date {
    font-size: 35px;
  }
}
