/* プロフィール編集のラベル */
.edit-profile {
  color: #c76e54;
  letter-spacing: 0.10em;
}

/* プロフィール編集のフォーム */
.edit-profile input[type="text"]{
  border: 1px solid #f5ece4;
  padding: 5px 8px;
  border-radius: 20px;
  height: 2.0em;
  overflow: hidden;
  background: #f5ece4;
  color: gray;
  transition:ease-out 0.5s;
}

/* プロフィール編集中のフォーム */
.edit-profile input[type="text"]:focus {
  outline: 0;
  background: #f5ece4;
  box-shadow: none;
  text-shadow: none;
  outline: 0;
  border-color: #c76e54;
  height:50px;
}

/* プロフィール編集のフォーム、password */
.edit-profile input[type="password"]{
  border: 1px solid #f5ece4;
  padding: 5px 8px;
  border-radius: 20px;
  height: 2.0em;
  overflow: hidden;
  background: #f5ece4;
  color: gray;
  transition:ease-out 0.5s;
}

/* プロフィール編集中のフォーム、password */
.edit-profile input[type="password"]:focus {
  outline: 0;
  background: #f5ece4;
  box-shadow: none;
  text-shadow: none;
  outline: 0;
  border-color: #c76e54;
  height:50px;
}

/* プロフィール編集のフォーム、email */
.edit-profile input[type="email"]{
  border: 1px solid #f5ece4;
  padding: 5px 8px;
  border-radius: 20px;
  height: 2.0em;
  overflow: hidden;
  background: #f5ece4;
  color: gray;
  transition:ease-out 0.5s;
}

/* プロフィール編集中のフォーム、email */
.edit-profile input[type="email"]:focus {
  outline: 0;
  background: #f5ece4;
  box-shadow: none;
  text-shadow: none;
  outline: 0;
  border-color: #c76e54;
  height:50px;
}

.profile {
  letter-spacing: 0.20em;
  color: #c76e54;
}

/* プロフィールのテキスト */
.edit-form {
  color: #c76e54;
  margin-bottom: 30px;
  font-size: 13px;
}