.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #f5cdbd;
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  .calendar-heading {
    margin-top: 20px;
    color: gray;
    letter-spacing: 0.20em;
  }

  a {
    color:lightgray;
  }

  a:hover {
    color:gray;
  }

  tr {
    border-collapse: collapse;

  }

  tr.week {
    letter-spacing: 0.20em;
    background-color: #f5cdbd;
    color: #f5ece4;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid #f5cdbd;
    border-collapse: collapse;
    border-left: 1px solid #f5cdbd;
    border-right: 1px solid #f5cdbd;
    box-sizing: border-box;
    text-align: center;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;
    border: 1px solid #f5cdbd;
    border-top-color: #f5cdbd;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #f5cdbd;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #f5cdbd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #f5cdbd;
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 60px;
    color: gray;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: #f5ece4;
  }

  .past {}

  .future {}

  .start-date {}

  .prev-month {}

  .next-month {}

  .current-month {}

  .has-events {}
}
