/* ユーザー検索のフォーム、タイトルを含めたクラス */
.searching {
  margin: 100px;
  padding: 100px;
}

.user_search{
  box-sizing: border-box;
  padding-top: 10px;
}

/* ユーザー検索のフォーム */
.user_search input[type="search"]{
  border: 1px solid #f5ece4;
  padding: 5px 8px;
  border-radius: 20px;
  height: 2.0em;
  width: 245px;
  overflow: hidden;
  background: #f5ece4;
  color: gray;
}

.user_search input[type="search"]:focus {
  outline: none;
  background: #f5ece4;
  box-shadow: none;
  text-shadow: none;
}

/* ユーザー検索のタイトル */
.search {
  letter-spacing: 0.20em;
  color: #c76e54;
  margin-bottom: 20px;
}

/* ユーザー検索結果のタイトル */
.result {
  letter-spacing: 0.20em;
  color: #c76e54;
  margin-bottom: 30px;
}

/* ユーザー検索結果の友達の名前リンク */
.result-link {
  color: #c76e54;
}

.result-link:hover {
  color: #c76e54;
}

/* ユーザー検索結果のテーブル、タイトル全てを含めたクラス */
.resulting {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* ユーザー検索結果のテーブル */
.result-table {
  background-color: #f5ece4;
  border-collapse: separate;
  border-radius: 10px;
}

/* フォローボタン */
.btn.follow-button {
  position: relative;
  width: 140px;
	padding: 10px;
  margin: 5px;
	text-align: center;
	text-decoration: none;
	color: #f5ece4;
	background: #84a59d;
  letter-spacing: 0.20em;
  border-radius: 10px;
  border: none;
  outline: none;
}

.btn.follow-button:hover {
	 opacity:0.8;
	 cursor: pointer;
	 text-decoration: none;
   color: #f5ece4;
}

.btn.follow-button:focus{
  box-shadow: none;
}

/* アンフォローボタン */
.btn.unfollow-button {
  position: relative;
  width: 140px;
	padding: 10px;
  margin: 5px;
	text-align: center;
	text-decoration: none;
	color: #f5ece4;
	background: #f28482;
  letter-spacing: 0.20em;
  border-radius: 10px;
  border: none;
  outline: none;
}

.btn.unfollow-button:hover {
	 opacity:0.8;
	 cursor: pointer;
	 text-decoration: none;
   color: #f5ece4;
}

.btn.unfollow-button:focus{
  box-shadow: none;
}

/* 新規登録画面のラベル */
.register {
  color: #c76e54;
}

/* 新規登録画面のパスワードフォーム */
.register input[type="password"]{
  border: 1px solid #f5ece4;
  padding: 5px 8px;
  border-radius: 20px;
  height: 2.0em;
  overflow: hidden;
  background: #f5ece4;
  color: gray;
}

/* 新規登録画面のパスワードフォーム選択中 */
.register input[type="password"]:focus {
  outline: none;
  background: #f5ece4;
  box-shadow: none;
  text-shadow: none;
}

/* 新規登録画面のテキストフォーム */
.register input[type="text"]{
  border: 1px solid #f5ece4;
  padding: 5px 8px;
  border-radius: 20px;
  height: 2.0em;
  overflow: hidden;
  background: #f5ece4;
  color: gray;
  letter-spacing: 0.20em;
}

/* 新規登録画面のテキストフォーム選択中 */
.register input[type="text"]:focus {
  outline: none;
  background: #f5ece4;
  box-shadow: none;
  text-shadow: none;
}

/* 新規登録画面のemailフォーム */
.register input[type="email"]{
  border: 1px solid #f5ece4;
  padding: 5px 8px;
  border-radius: 20px;
  height: 2.0em;
  overflow: hidden;
  background: #f5ece4;
  color: gray;
}

/* 新規登録画面のemailフォーム選択中 */
.register input[type="email"]:focus {
  outline: none;
  background: #f5ece4;
  box-shadow: none;
  text-shadow: none;
}

.login-link {
  color: #c76e54;
}

.login-link:hover {
  color: #c76e54;
}

/* 日記新規作成の日付フォーム */
.register input[type="date"]{
  border: 1px solid #f5ece4;
  padding: 5px 8px;
  border-radius: 20px;
  height: 2.0em;
  overflow: hidden;
  background: #f5ece4;
  color: gray;
  letter-spacing: 0.20em;
}

.register input[type="date"]:focus {
  outline: none;
  background: #f5ece4;
  box-shadow: none;
  text-shadow: none;
}

/* 退会 */
.withdraw  {
  color: gray;
  font-size: 13px;
}

.withdraw:hover {
  color: lightgray;
}

/* 検索機能などの説明文 */
.follow_text {
  color: gray;
}

/* 日記投稿の全体 */
.diary-form {
  margin-top: 80px;
  margin-bottom: 160px;
}

/* フォローの人がいない時のカード */
.no-follow {
  margin-top: 50px;
  margin-bottom: 80px;
}
