/* ユーザー検索のフォーム、タイトルを含めたクラス */
.searching {
  margin: 50px;
  padding: 80px;
}

.user_search{
  box-sizing: border-box;
}

/* ユーザー検索のフォーム */
.user_search input[type="search"]{
  border: 1px solid #f5ece4;
  padding: 5px 8px;
  border-radius: 20px;
  height: 3.0em;
  width: 245px;
  overflow: hidden;
  background: #f5ece4;
  color: gray;
}

/* ユーザー検索のボタン押した時 */
.user_search input[type="search"]:focus {
  outline: 0;
  background: #f5ece4;
}

/* ユーザー検索のボタン */
.user_search input[type="submit"]{
  cursor: pointer;
  font-size: 1.3em;
  border: none;
  background: #bf9288;
  color: #f5ece4;
  outline : none;
  display: inline-block;
  vertical-align: middle;
}

/* ユーザー検索のタイトル */
.search {
  letter-spacing: 0.20em;
  color: #c76e54;
  margin-bottom: 60px;
}

/* ユーザー検索結果のタイトル */
.result {
  letter-spacing: 0.20em;
  color: #c76e54;
  margin-bottom: 80px;
}

/* ユーザー検索結果のテーブル、タイトル全てを含めたクラス */
.resulting {
  margin: 50px;
  padding: 80px;
}

/* ユーザー検索結果のテーブル */
.result-table {
  background-color: #f5ece4;
  border-collapse: separate;
  border-radius: 10px;
}

/* フォローボタン */
.btn.btn-outline-primary {
  background: #84a59d; //ボタンの背景色
  color: #f5ece4; //ボタンのテキストの色
  border: 3px solid #84a59d;
  padding-left: 40px;
  padding-right: 40px;
  margin: 10px;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, 
.btn.btn-outline-primary:active, .btn.btn-outline-primary:active:focus, .btn.btn-outline-primary:active:hover, .btn.btn-outline-primary:active.focus,
.btn.btn-outline-primary.active, .btn.btn-outline-primary.active:focus, .btn.btn-outline-primary.active:hover, .btn.btn-outline-primary.active.focus,
.open > .dropdown-toggle.btn.btn-outline-primary, 
.open > .dropdown-toggle.btn.btn-outline-primary:hover,
.open > .dropdown-toggle.btn.btn-outline-primary:focus, 
.open > .dropdown-toggle.btn.btn-outline-primary.focus,
.btn.btn-outline-primary.disabled:hover, .btn.btn-outline-primary[disabled]:hover, fieldset[disabled] .btn.btn-outline-primary:hover,
.btn.btn-outline-primary.disabled:focus, .btn.btn-outline-primary[disabled]:focus, fieldset[disabled] .btn.btn-outline-primary:focus,
.btn.btn-outline-primary.disabled.focus, .btn.btn-outline-primary[disabled].focus, fieldset[disabled] .btn.btn-outline-primary.focus {
  background: #84a59d; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
  color: #f5ece4; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
  border: 3px solid #84a59d;
}

/* アンフォローボタン */
.btn.btn-outline-danger {
  background: #f28482; //ボタンの背景色
  color: #f5ece4; //ボタンのテキストの色
  border: 3px solid #f28482;
  padding-left: 40px;
  padding-right: 40px;
  margin: 10px;
}

.btn.btn-outline-danger:hover, .btn.btn-outline-danger:focus, 
.btn.btn-outline-danger:active, .btn.btn-outline-danger:active:focus, .btn.btn-outline-danger:active:hover, .btn.btn-outline-danger:active.focus,
.btn.btn-outline-danger.active, .btn.btn-outline-danger.active:focus, .btn.btn-outline-danger.active:hover, .btn.btn-outline-danger.active.focus,
.open > .dropdown-toggle.btn.btn-outline-danger, 
.open > .dropdown-toggle.btn.btn-outline-danger:hover,
.open > .dropdown-toggle.btn.btn-outline-danger:focus, 
.open > .dropdown-toggle.btn.btn-outline-danger.focus,
.btn.btn-outline-danger.disabled:hover, .btn.btn-outline-danger[disabled]:hover, fieldset[disabled] .btn.btn-outline-danger:hover,
.btn.btn-outline-danger.disabled:focus, .btn.btn-outline-danger[disabled]:focus, fieldset[disabled] .btn.btn-outline-danger:focus,
.btn.btn-outline-danger.disabled.focus, .btn.btn-outline-danger[disabled].focus, fieldset[disabled] .btn.btn-outline-danger.focus {
  background: #f28482; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
  color: #f5ece4; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
  border: 3px solid #f28482;
}
